# Created by .ignore support plugin (hsz.mobi)

# Hidden
.idea
.sass-cache

# Pre-compiler languages
coffeescript
node_modules
sass
slim

# Gulp stuff (static anyway)
gulpfile.js
package.json

# Other
notes.txt
