// Created by chuck1 on 7/8/15.
doctype html

html
  head
    title Charles Bean
    meta charset="utf-8"
    meta name="keywords" content="charles bean msu portfolio"
    link rel="stylesheet" href="build/css/style.min.css"
    script href="build/js/animation.js"

  body
    div class="header"
      div class="art"
        button id="soundButton"
        div class="signature"
        div class="links"

    div class="about"
